html {
    font-size: 10px;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("../images/paper2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid #9d9d9d;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.under-keys {
    align-items: center;
    justify-content: center;
    display: inline;
}

.space {
    border: .4rem solid #9d9d9d;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.sustained {
    position: initial;
    bottom: 60px;
    background-color: #212529;
    color: rgb(223, 212, 203);
}

.main {
    background-color: rgb(223, 212, 203);
    color: #212529;
}

.container {
    position: absolute;
    top: 43%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

kbd {
    font-size: 4rem;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    background-color: transparent;
}

.sound {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: #ffc600;
}

.footer-copyright {
    color: white;
    text-shadow: 0 0 0.5rem black;
    font-size: large;
}
